.row
  .col-lg-6.col-lg-offset-3
    .container-fluid
      #follow-box
        .row
          .col-lg-12
            %legend
              Please follow me on Twitter?
            %p
              %strong
                If you'd like to know more about me and how I created this app, follow me on twitter. It's as simple as clicking the follow button here. :)
            %p
              %small After clicking follow, you'll be redirected to your stats page. You can also skip if you want!
        .row
          .container-fluid
            .row
              .col-lg-4
                = button_to follow_path, class: "btn btn-success" do
                  %i.fa.fa-twitter.fa-lg
                  Follow @shobhitic
              .col-lg-4
                %a.btn.btn-warning{ href: username_path(username: current_user.handle) }
                  Skip

    
