.center
  %h1 Find the apps you've used to tweet
  %h3 ... and what others have been using to tweet!

%hr

.row
  .col-md-8.col-md-offset-2
    %p
      Probably a useless app which gives a web page telling which apps you've used to tweet. Some people are telling it is super fun to see those metrics. Some say it is probably the best thing since sliced bread. So what are you waiting for?


.center
  %a.btn.btn-info.btn-lg{ href: '/auth/twitter' }
    %i.fa.fa-twitter.fa-lg
    Sign in using Twitter

.row.down-50
  .col-md-6
    .container-fluid
      .row
        .col-md-2
          = image_tag "https://pbs.twimg.com/profile_images/496872646479319040/zLNF4x_W_400x400.jpeg", class: "img-responsive img-circle", height: "75px", width: "75px"
        .col-md-10
          %blockquote
            It is super fun to see those metrics.
            %footer
              = link_to "@deepak365", username_path("deepak365")
  .col-md-6
    .container-fluid
      .row
        .col-md-2
          = image_tag "https://pbs.twimg.com/profile_images/533922086738079745/Cy-uoICm_400x400.jpeg", class: "img-responsive img-circle"
        .col-md-10
          %blockquote
            Probably the best thing since sliced bread.
            %footer
              = link_to "@ispiritualist", username_path("ispiritualist")
  .col-md-6
    .container-fluid
      .row
        .col-md-2
          = image_tag "https://pbs.twimg.com/profile_images/567619491698204672/h-HRu48G_400x400.jpeg", class: "img-responsive img-circle"
        .col-md-10
          %blockquote
            Twitter just died for me. No need to visit it anymore!
            %footer
              = link_to "@shotwhat", username_path("shotwhat")
  .col-md-6
    .container-fluid
      .row
        .col-md-2
          = image_tag "https://pbs.twimg.com/profile_images/544025497227640833/PPiTt2O__400x400.jpeg", class: "img-responsive img-circle"
        .col-md-10
          %blockquote
            How do you know what devices I own? How did you hack in to them?
            %footer
              = link_to "@jub_in", username_path("jub_in")