// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#follow-box {
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 10px;
  border: solid 1px #ee6666;
  border-radius: 5px;
}