// Place all the styles related to the stats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
  list-style: outside none none;
  display: inline-block;
}

li span {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.d3-bar {
  height: 20px;
  border-radius: 5px;
}


.d3-chart div {
  font: 10px sans-serif;
  background-color: #666699;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.sources-chart {
  margin-top: 20px;
}

.sources-list {
  padding-top: 20px;
}

canvas {
  width: 100% !important;
  max-width: 800px;
  height: auto !important;
}