.row
  .center
    %h2
      Stats for @#{@handle} not found!
    %hr
  - if current_user
    #tweet-prompt
      .col-lg-offset-1.col-lg-9
        .alert.alert-success
          %p
            Hey @#{@handle}, I'd like to see your tweeting stats! Simply sign in at tweetinators.com and tweet your stats page!
      .col-lg-2
        = button_to stats_tweet_path(tweet: "Hey @#{@handle}, I'd like to see your tweeting stats! Simply sign in at tweetinators.com and tweet your stats page!"), class: "btn btn-lg btn-info pull-right", remote: true do
          %i.fa.fa-twitter.fa-lg
          Tweet
  .col-lg-6.col-lg-offset-3{ style: "margin-top: 30px; margin-bottom: 30px" }
    %p
      I am sorry, but I couldn't find any data about #{@handle} in our system. If you'd like to see their stats, send them a tweet so they'd sign up! :)
    %img.img-responsive{ src: "http://i.imgur.com/5B0qeix.jpg" }
