- content_for :head do
  = javascript_include_tag 'Chart'
- content_for :title, "This is how @#{@user.handle} tweets!"


.page-header
  .row
    .col-lg-6
      .container-fluid.center
        .row
          - if @user.twitter_params
            .profile-img= image_tag @user.twitter_params[:info][:image].sub(/_normal\.jpeg/, "_400x400.jpeg"), class: "img-circle", width: "200px"
        .row
          %h1.handle= link_to "@#{@user.handle}", "https://twitter.com/#{@user.handle}"
        .row
          - if @user.twitter_params
            %p.lead= @user.twitter_params[:info][:description]
    .col-lg-6.sources-chart
      = content_tag "div", id: "usernames", data: { sources: @sources, handle: @user.handle } do
        .center
          %p.lead
            Loading chart...
      %canvas.chart

- if current_user && current_user.id == @user.id
  .row#tweet-prompt
    .col-lg-offset-1
      %p.lead Tweet your stats!
    .col-lg-offset-1.col-lg-9
      .alert.alert-success
        %p
          %strong Look at how I tweet! tweetinators.com/#{@user.handle} #tweetinators
    .col-lg-2
      = button_to stats_tweet_path(tweet: "Look at how I tweet! tweetinators.com/#{@user.handle} #tweetinators"), class: "btn btn-lg btn-info pull-right", remote: true do
        %i.fa.fa-twitter.fa-lg
        Tweet
    
.row
  .col-lg-6.sources-list
    .list-group
      - @sources.each do |source|
        .list-group-item
          %span.badge= source[:count]
          = source[:source].html_safe
  .col-lg-6
    .container-fluid
      = render "layouts/sponsor", handle: @user.handle
    


