%nav.navbar.navbar-default{ role: "navigation" }
  .navbar-header
    %button.navbar-toggle{ type: "button", data: { toggle: "collapse", target: "#navbar-link" } }
      %span.sr-only Toggle Navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{ href: root_url } Tweetinators!
  .collapse.navbar-collapse#navbar-link
    %ul.nav.navbar-nav
      - if current_user
        %li= link_to "Sign out", "/i/signout"
      - else
        %li= link_to "Sign in with Twitter", "/auth/twitter"
