.row
  .col-lg-10.col-lg-offset-1
    %small.text-warning This week has been sponsored by :-
    %h3 Mask your email and block all the spam
    %p.lead
      %a{ href: "http://www.getid.in/?utm_source=Tweetinators&utm_campaign=WeekSponsor&utm_medium=#{handle}-handle" } Try getid.in!
    .embed-responsive.embed-responsive-16by9
      %iframe.embed-responsive-item{ src: "https://www.youtube.com/embed/npdMTr6juhQ", allowfullscreen: true }
    %hr
    %small
      If you'd like to sponsor a week's worth of life for Tweetinators,
      %a{ href: "https://twitter.com/shobhitic" } contact me.