<!DOCTYPE html>
%html
  %head
    %title
      = yield(:title).presence || "Tweetinator"
    = stylesheet_link_tag    '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', media: 'all'
    = stylesheet_link_tag    "//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/journal/bootstrap.min.css"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = yield(:head)
  %body
    = render 'layouts/navbar'
    - if notice
      %p.alert.alert-info= notice
    .container= yield
    %footer.footer
      .container
        .center
          %p.text-muted
            Horribly designed and created by
            = link_to "@shobhitic", "https://twitter.com/shobhitic"